* {
    margin: 0px;
    padding: 0px;
}

nav{
    height: 220px;
    background-image: url(Images/Woodwork.jpg);
    background-size: 100% auto;
    width: 100%;
    min-width: 300px;
    text-align: right;
    text-decoration: none;
    font-size: 28px;
    font-family: sans-serif;
    text-transform: uppercase;
}

header{
    background-color: rgba(50, 49, 49, 0.5);
    height: 220px;
}

.nav-bar ul{
    float: right;
}

.nav-bar li {
    display: inline-block;
    padding-top: 10px;
}

.nav-bar a{
    text-decoration: none;
    color: #fff;
    transition-property: all;
    transition-duration: 0.6s;
    padding: 15px;
}

.nav-bar a:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(43, 43, 43);
    border-radius: 5px;
}

.services-header{
    height: 100px;
    width: 100%;
    background-image: linear-gradient(62deg, #DFBB9D 0%, #A27B5C 100%);
}

.services-header h1{
    text-align: center;
    font-size: 40px;
    font-family: sans-serif;
    color: #3C2317;
    line-height: 100px;
    vertical-align: middle;
}

.divider{
    color: beige;
    size: 2px;
}

.row{
    height: 200px;
    display: flex;
    top: 10px;
}

.service-square1{
    width: 25%;
    height: 100%;
    background-color: #B7C4CF;
}

.service-square2{
    width: 25%;
    height: 100%;
    background-color: #628E90;
}

.service-square3{
    width: 25%;
    height: 100%;
    background-color: #967E76;
}

.service-square4{
    width: 25%;
    height: 100%;
    background-color: #562B08;
}

.service-h1{
    text-align: center;
    color: white;
    padding-top: 5px;
    font-family: sans-serif;
}

/*media to resize the screen and elements depending on the screen size
Typical Mobile phone screen*/
@media only screen and (min-width: 230px) and (max-width: 480px){

} 

/*Media query for tablet in landscape mode. The , (orientation) acts as an or instead of and */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape)
{

}